<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreaming.bluetooth.framework">

    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <!-- Discover local Bluetooth devices-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can
         <a href="#assert-never-for-location">strongly assert that your app
         doesn't derive physical location</a>. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- Needed only if your app makes the device discoverable to Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Needed only if your app communicates with already-paired Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Needed only if your app uses Bluetooth scan results to derive physical location. -->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <!-- Include "neverForLocation" only if you can strongly assert that
        your app never derives physical location from Bluetooth scan results. -->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />-->

    <!-- Not needed if you can strongly assert that your app never derives
         physical location from Bluetooth scan results and doesn't need location
         access for any other purpose. -->
<!--    <strike><uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /></strike>-->

    <!-- If your app supports a service and can run on Android 10 (API level 29) or Android 11,
        you must also declare the ACCESS_BACKGROUND_LOCATION permission to discover Bluetooth devices. F
        or more information on this requirement, see Access location in the background.
        {@link https://developer.android.google.cn/training/location/background} -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- get hardware identifiers for nearby external devices through a Bluetooth scan-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Specify Bluetooth feature usage-->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />

    <application
        android:label="@string/app_name">

        <service
            android:name="com.dreaming.bluetooth.framework.BluetoothService" />
    </application>

</manifest>
